html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.img1{
  width: 100vw;
  height: 100vh;
}
/* .carousel{
  margin: 0 auto;
  width: 80%;
  

}
.carousel image{
  width: 100%;
  height: 60%
   */
/* } */
